@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

:root {
  --primary-color: #151617;
  --border-color: #272829;
}

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body {
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
}
.navber {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
#alphabet {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid var(--border-color);
  align-items: center;
  cursor: pointer;
}

.alpabet {
  color: rgb(155, 154, 154);
  text-transform: capitalize;
}
.alpabet:hover {
  color: #408bea;
}

.selected-letter {
  color: #3b82f6; /* Tailwind এর text-blue-500 color */
  /* text-decoration: underline; */
}
.sidebar {
  border-right: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
}

.adminSide {
  background-color: var(--primary-color);
  color: whitesmoke
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* নিচে custom classes define করো */
.input {
  @apply w-full border border-gray-300 rounded-md px-3 py-2 focus:ring-2 focus:ring-blue-500 focus:outline-none;
}

.btn-primary {
  @apply bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 transition;
}

.btn-secondary {
  @apply bg-gray-500 text-white px-4 py-2 rounded-md hover:bg-gray-600 transition;
}
